#simple-portrait-organizer-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    min-height: 300px;
}

#simple-portrait-organizer-drop-area.hover {
    background-color: #eee;
}

#simple-portrait-organizer-preview-canvas {
    margin-top: 10px;
    max-width: 100%;
    height: 100%;
    height: auto;
    min-height: 300px;
}

#simple-portrait-organizer-form{
    width: 400px;
    height: 350px;
    align-content: center;
    justify-items: center;
    overflow: hidden;
}

.simple-portrait-organizer-hidden {
    display: none !important;
}

#simple-portrait-organizer-input-label {
    display: block;
    background: rgba(255, 255, 240, 0.8);
    padding: 3px;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    width: 80%;
    text-align: center;
    font-size: var(--font-size-14);
    line-height: 28px;
    font-family: var(--font-primary);
    cursor: pointer;
    margin: 0px 1px;
}

#simple-portrait-organizer-input-label:hover {
    box-shadow: inset 0px 0px 3px 1px rgba(170, 0, 0, 0.6);
}