#drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    min-height: 300px;
}

#drop-area.hover {
    background-color: #eee;
}

#preview-canvas {
    margin-top: 10px;
    max-width: 100%;
    height: 100%;
    height: auto;
    min-height: 300px;
}

#webp-image-converter-form{
    min-width: 400px;
    min-height: 350px;
}

.hidden {
    display: none;
}